
<button (click)="increment()" style="color:white; margin-right:20px; background-color:darkgreen">Increment</button>
<button (click)="decrement()" style="color:white; background-color:indianred">Decrement</button>
<br />
<br />

<div>Current Count: {{ count$ | async }}</div>
<br />



<button (click)="reset()">Reset Counter</button>

<br />
<br />
<hr />
<form [formGroup]="loginForm">
  <p>If you want to save the counter value, provide your credentials:</p>
  <input placeholder="username" formControlName="username" />
  <br />
  <input type="text" style="margin-top:5px" placeholder="surname" formControlName="pw" />
  <br /><br />
  <button (click)="login()" style="background-color:dodgerblue; color:white">Save</button>
</form>

<br />
<p>All users:</p>
<div *ngFor='let user of mediUsers$ | async'>
  <p>{{ user.name }} {{ user.surname }}</p>
  <!--<button (click)="delete(user)">Delete</button>-->
</div>
<!--<div> <p>{{ users$ | async }}</p></div>-->
<!--<div *ngFor='let user of users$ | async'> <p>{{ user }}</p></div>-->
<button (click)="deleteLastUser()">Delete last user</button>
<br />
<br />
Company size is: {{ sizeOfCompany$ | async }}
<br />

