
<button (click)="increment()" style="color:white; margin-right:20px; background-color:darkgreen">Increment</button>
<button (click)="decrement()" style="color:white; background-color:indianred">Decrement</button>
<br />
<br />

<div>Current Count: {{ count$ | async }}</div>
<br />



<button (click)="reset()">Reset Counter</button>

<br />
<br />

<form [formGroup]="loginForm">
  <p>If you want to save the counter value, provide your credentials:</p>
  <input placeholder="username" formControlName="username"/>
  <br />
  <input type="text" style="margin-top:5px" placeholder="password" formControlName="pw" />
  <br /><br />
  <button (click)="login()" style="background-color:dodgerblue; color:white" >Login</button>
</form>

